streamlit==1.41.1
pandas>=1.5.0
openpyxl==3.1.5
xlsxwriter==3.2.3
streamlit-calendar==1.2.1
PyYAML==6.0.2
scikit-learn==1.6.1
numpy==2.2.6
jpholiday==1.0.2
SQLAlchemy==2.0.41
openai==1.86.0
python-dotenv==1.1.0
pdf2image==1.17.0
pdfplumber
pytesseract
Pillow==11.2.1
langchain==0.3.25
langchain-community==0.3.25
tiktoken==0.9.0
faiss-cpu==1.11.0
PyPDF2>=3.0.0
langchain-openai
